<!DOCTYPE html>
<html lang="<%= page.lang %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header-'+page.lang, {lang: page.lang}) %>
    
    <div class="content">
      <%- body %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>