<!DOCTYPE html>
<html lang="<%= page.lang %>">

<head>
  <%- include('partials/head-'+page.lang, {lang: page.lang})) %>
</head>

<body>
  <%- include('partials/menu-'+page.lang, {lang: page.lang}) %>

  <div class="content">
    <%- body %>
  </div>

  <%- include('partials/footer-'+page.lang, {lang: page.lang}) %>
</body>

</html>