<!DOCTYPE html>
<html lang="<%= page.lang %>">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/hero') %>

  <%- include('partials/menu') %>

  <div class="content">
    <%- body %>
  </div>

  <%- include('partials/footer') %>
</body>

</html>